// minimal definitions for Linebreak Dialog UI
// Insert these into a full RC file
IDD_LINEBRK DIALOGEX 0, 0, 310, 247
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "LINEBREAK SAMPLE"
FONT 12, "Lucida Console", 0, 0, 0x1
BEGIN
    CONTROL         "SP CM\nas SP",IDC_ALTERNATE,"Button",BS_AUTOCHECKBOX | 
                    BS_MULTILINE | WS_TABSTOP,7,137,41,14
    EDITTEXT        IDC_INPUT,51,7,252,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_DISPL,51,68,252,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Memory:",-1,7,7,36,16,SS_CENTERIMAGE
    LTEXT           "Breaks:",-1,7,67,36,16,SS_CENTERIMAGE
    LTEXT           "Classes:",-1,7,31,36,14
    EDITTEXT        IDC_TYPES,51,29,252,22,ES_MULTILINE | ES_AUTOHSCROLL | 
                    ES_READONLY
    PUSHBUTTON      "NBSP",IDC_NBSP,7,222,37,17
    PUSHBUTTON      "ZWSP",IDC_ZWSP,46,222,37,17
    PUSHBUTTON      "NBHY",IDC_NBHY,163,222,37,17
    PUSHBUTTON      "SHY",IDC_SHY,202,222,37,17
    PUSHBUTTON      "Close",IDCANCEL,267,222,36,17
    PUSHBUTTON      "ZWNBSP",IDC_ZWNBSP,85,222,37,17
    PUSHBUTTON      "TAB",IDC_TAB,124,222,37,17
    CONTROL         "Clean",IDC_CLEAN,"Button",BS_AUTOCHECKBOX | NOT 
                    WS_VISIBLE | WS_DISABLED | WS_TABSTOP,7,179,41,14
    PUSHBUTTON      "EM-Dash",IDC_EM,7,199,37,17
    PUSHBUTTON      "Ellipsis",IDC_ELLIPSIS,46,199,37,17
    PUSHBUTTON      "OBJ",IDC_OBJ,85,199,37,17
    LTEXT           "",IDC_EXPLAIN,50,95,253,96,0,WS_EX_DLGMODALFRAME | 
                    WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    CONTROL         "CM via\nTable",IDC_CMINTABLE,"Button",BS_AUTOCHECKBOX | 
                    BS_MULTILINE | WS_TABSTOP,7,109,41,25
    CONTROL         "Use 4.1 rules",IDC_41RULES,"Button",BS_AUTOCHECKBOX | 
                    BS_MULTILINE | WS_TABSTOP,7,87,41,25
    CONTROL         "Hangul\nCluster",IDC_HANGULCLUSTER,"Button",
                    BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,7,160,41,14
    PUSHBUTTON      "CR",IDC_CR,124,199,37,17
    PUSHBUTTON      "LF",IDC_LF,163,199,37,17
END

